<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentInformationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CurrentDateTimeServlet</display-name>
    <servlet-name>CurrentDateTimeServlet</servlet-name>
    <servlet-class>in.careerit.CurrentDateTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentDateTimeServlet</servlet-name>
    <url-pattern>/CurrentDateTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GServlet</display-name>
    <servlet-name>GServlet</servlet-name>
    <servlet-class>in.careerit.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>in.careerit.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>in.careerit.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HPServlet</display-name>
    <servlet-name>HPServlet</servlet-name>
    <servlet-class>in.careerit.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HPServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>in.careerit.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>in.careerit.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>in.careerit.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>in.careerit.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>in.careerit.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPasswordServlet</display-name>
    <servlet-name>EditPasswordServlet</servlet-name>
    <servlet-class>in.careerit.EditPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordServlet</servlet-name>
    <url-pattern>/editPassword</url-pattern>
  </servlet-mapping>
</web-app>